virtual-keyboard {
	// Fastclicks?
	touch-action: manipulation;
	// Disable selection
	user-select: none;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #D32F2F;
	box-shadow: 0px 0px 7px #000;
	transform: translateY(100%);
	transition: .3s transform;

	&.virtual-keyboard-show {
		transform: translateY(0);
	}

	.virtual-keyboard-row {
		display: flex;
	}

	.virtual-keyboard-item {
		flex: 1;
		padding: .8vw;
		color: #FFFFFF;
		text-align: center;
		height: 10vh;
		line-height: 10vh;

		&:active .virtual-keyboard-item-inner {
			background: #FFCDD2;
		}
	}

	.virtual-keyboard-item-inner {
		background: #F44336;
	}

	.flex-2 {
		flex: 2;
	}

	.flex-3 {
		flex: 3;
	}

	.flex-4 {
		flex: 4;
	}
}

virtual-input {
	display: block;
	word-wrap: break-word;
	border: 1px solid #c0c0c0;
	min-height: 1.2em;
	padding: 6px;
	outline: 0;

	&.virtual-input-focus {
		&:after {
			display: inline-block;
			content: '|';
			animation: 1.5s pulsate step-end infinite;
			color: #03A9F4;
		}
	}
}

@keyframes pulsate {
	from, to {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
