virtual-keyboard {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #D32F2F;
  box-shadow: 0px 0px 7px #000;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  transition: .3s transform; }
  virtual-keyboard.virtual-keyboard-show {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  virtual-keyboard .virtual-keyboard-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  virtual-keyboard .virtual-keyboard-item {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: .8vw;
    color: #FFFFFF;
    text-align: center;
    height: 10vh;
    line-height: 10vh; }
    virtual-keyboard .virtual-keyboard-item:active .virtual-keyboard-item-inner {
      background: #FFCDD2; }
  virtual-keyboard .virtual-keyboard-item-inner {
    background: #F44336; }
  virtual-keyboard .flex-2 {
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  virtual-keyboard .flex-3 {
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3; }
  virtual-keyboard .flex-4 {
    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4; }

virtual-input {
  display: block;
  word-wrap: break-word;
  border: 1px solid #c0c0c0;
  min-height: 1.2em;
  padding: 6px;
  outline: 0; }
  virtual-input.virtual-input-focus:after {
    display: inline-block;
    content: '|';
    -webkit-animation: 1.5s pulsate step-end infinite;
            animation: 1.5s pulsate step-end infinite;
    color: #03A9F4; }

@-webkit-keyframes pulsate {
  from, to {
    opacity: 1; }
  50% {
    opacity: 0; } }

@keyframes pulsate {
  from, to {
    opacity: 1; }
  50% {
    opacity: 0; } }

/*# sourceMappingURL=virtual-keyboard.css.map */
